@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <p>
        As a software developer I enjoy solving problems that add measurable value to users. I believe that my skills and experience make me an ideal candidate for this role.

        Throughout my career, I have honed my skills in software development, working on various projects that have challenged me and pushed me to learn and grow. I have experience with multiple programming languages and am comfortable working in both front-end and back-end development.

        What sets me apart from other candidates is my ability to work collaboratively and effectively communicate with team members. I believe that software development is a team effort, and I always strive to contribute my skills and ideas to help the team succeed.

        I am always eager to learn from others and to take on new challenges.
    </p>
    <p>
        My other interests are watching movies,Formula One, playing video games, hiking and meeting with friends and family 
    </p>
</main>