@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h3 id="title">@ViewBag.Title.</h3>

    <address>
        Chatsworth Main Road<br />
        Umhlatuzana<br />
        Durban<br />
        4092<br />
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:moodleymahesh@gmail.com">moodleymahesh@gmail.com</a><br />
        <strong>Github:</strong>   <a href="https://github.com/Marsh87" target="_blank">Marsh87</a><br />
    </address>
</main>