@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h3><p>This application allows users to manage people, their accounts and transactions logged against said accounts</p></h3>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <p>
               To start please click on the Persons link
            </p>
        </section>
    </div>
</main>